% !TEX encoding = UTF-8

\documentclass[\jvar{misc.language},a4paper,nototpages]{europasscv}

\usepackage{fontawesome}

\ecvname{\jvar{personal.name}}
\ecvaddress{\jvar{personal.address}, \jvar{personal.city}, \jvar{personal.country}}
\ecvtelephone[\jvar{personal.phone}]{}
\ecvemail{\jvar{personal.email}}
\ecvhomepage{\jvar{personal.url_personal}}

\ecvdateofbirth{\jvar{personal.birth_date}}
\ecvnationality{\jvar{personal.nationality}}

\ecvpicture[width=3.8cm]{assets/profile.png}

\begin{document}
    \begin{europasscv}
        \ecvpersonalinfo
        % \ecvbigitem{Job applied for}{European project manager}

        \ecvsection{\jvar{work.label}}
        \jblock{for entry in work.entries}
            \ecvtitle{\jvar{entry.from} -- \jvar{entry.to}}{\jvar{entry.role}}
            \ecvitem{}{\jvar{entry.company}}
            \ecvitem{}{\jvar{entry.description}}
        \jblock{endfor}

        \ecvsection{\jvar{education.school.label}}
        \jblock{for entry in education.school.entries}
            \ecvtitlelevel{\jvar{entry.date}}{\jvar{entry.program}}{}
            \ecvitem{}{\jvar{entry.school}}
        \jblock{endfor}

        \ecvsection{\jvar{education.research.label}}
        \jblock{for entry in education.research.entries }
            \jblock{if entry.url}
            \ecvtitlelevel{\jvar{entry.date}}{\href{\jvar{entry.url}}{\jvar{entry.title} \scriptsize{\faExternalLink}}}{}
            \jblock{else}
            \ecvtitlelevel{\jvar{entry.date}}{\jvar{entry.title}}{}
            \jblock{endif}
            \jblock{if entry.oneliner}
                \ecvitem{}{\jvar{entry.oneliner}}
            \jblock{endif}
            \jblock{if entry.researchers}
                \ecvitem{}{\jvar{entry.researchers|join(', ')}}
            \jblock{endif}
        \jblock{endfor}

        \ecvsection{\jvar{programming.label}}
        \jblock{for entry in programming.entries}
            \ecvtitlelevel{}{\jvar{entry.category}}{}
            \ecvitem{}{\jvar{entry.entries|join(', ')}}
        \jblock{endfor}

        \ecvmothertongue{\jvar{personal.nationality}}
        \ecvlanguageheader
        \jblock{for entry in languages.entries}
            \jblock{if loop.index > 1}
                \ecvlanguage{\jvar{entry.name}}{C1}{C2}{B2}{B2}{B2}
            \jblock{endif}
        \jblock{endfor}
        \ecvlanguagefooter

    \end{europasscv}
\end{document}
