{{ personal.name }}
{{ "="*(personal.name|length) }}

{{ work.label }}
{{ "-"*(work.label|length) }}

{% for entry in work.entries %}
- {{ entry.role }} @{{ entry.company }} ({{ entry.from }} – {{ entry.to }}): {{ entry.description }}
{% endfor %}

{{ education.school.label }}
{{ "-"*(education.school.label|length) }}

{% for entry in education.school.entries %}
- {{ entry.program }} @{{ entry.school }} ({{ entry.date }})
{% endfor %}

{{ education.research.label }}
{{ "-"*(education.research.label|length) }}

{% for entry in education.research.entries %}
- {{ entry.title }}{% if entry.url %} ({{ entry.url }}){% endif %}{% if entry.researchers|length > 0 %} ({{ entry.researchers|join(', ') }}){% endif %}{% if entry.oneliner %}: {{ entry.oneliner }}{% endif %}

{% endfor %}

{{ projects.label }}
{{ "-"*(projects.label|length) }}

{% for entry in projects.entries %}
- {{ entry.name }} ({{ entry.url }}) ({{ entry.from }} – {{ entry.to }}){% if entry.members|length > 0 %}({{ entry.members|join(', ') }}){% endif %}: {{ entry.description }}
{% endfor %}

{{ programming.label }}
{{ "-"*(programming.label|length) }}

{% for entry in programming.entries %}
- {{ entry.category }}: {{ entry.entries|join(', ') }}
{% endfor %}

{{ languages.label }}
{{ "-"*(languages.label|length) }}

{% for entry in languages.entries %}
- {{ entry.name }}: {{ entry.proficiency }}
{% endfor %}
