name: push

on: # yamllint disable-line rule:truthy
  push: null
  pull_request: null

permissions:
  actions: read
  attestations: none
  checks: none
  contents: read
  deployments: none
  id-token: none
  issues: none
  discussions: none
  packages: read
  pages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: none

concurrency: # prevent concurrent tag/release
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  super-linter:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      statuses: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: ln -sv .github/linters/commitlint.config.js ./
      - uses: super-linter/super-linter/slim@47984f49b4e87383eed97890fe2dca6063bbd9c3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: ${{ !contains(github.event_name, 'pull_request') }}
          VALIDATE_JSCPD: false
          VALIDATE_JAVASCRIPT_ES: false
  notify-doc:
    needs: [super-linter]
    if: success() && github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        id: filter
        with:
          filters: |
            docs:
              - 'docs/**'
      - uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697
        if: steps.filter.outputs.docs == 'true'
        with:
          token: ${{ secrets.REPOSITORY_DISPATCH_STREAMBINDER }}
          repository: streambinder/streambinder
          event-type: doc-sync
          client-payload: '{"repo": "${{ github.repository }}", "ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
  build:
    needs: [super-linter]
    if: success() && github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
      - name: Setup Python environment
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: 3.8.12
          architecture: x64
      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y texlive-latex-recommended texlive-fonts-extra
      - name: Install Python dependencies
        run: |
          python -m pip install -r requirements.txt
      - name: Build
        run: make
      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: resume
          path: build/*
      - name: Generate date output
        id: date
        run: echo today="$(date +'%Y-%m-%d')" >> "$GITHUB_OUTPUT"
      - name: Release
        uses: slord399/action-automatic-releases@3fdffd6528ada5ca6b76ad10a3ecf03ccd168b33
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: ${{ steps.date.outputs.today }}
          prerelease: false
          title: ${{ steps.date.outputs.today }}
          files: build/*
  notify-release:
    needs: [build]
    if: success() && github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - name: Dispatch push event
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697
        with:
          token: ${{ secrets.REPOSITORY_DISPATCH_STREAMBINDER }}
          repository: streambinder/streambinder
          event-type: erro-sync
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
